<section class="hero">
    <div class="hero-content">
        
        <div class="hero-info">
            <div class="badge">🏙️ Plataforma Ciudadana</div>
                <h1>Mejorá tu ciudad con <span class="highlight">un reporte</span></h1>
                <p>Reportá problemas urbanos, conectá con tu comunidad y hacé seguimiento en tiempo real del estado de cada reporte.</p>
            <div class="hero-buttons">
                <a routerLink="/auth" routerLinkActive="active" class="btn-primary">Hacer un Reporte</a>
                <a routerLink="/auth" routerLinkActive="active" class="btn-secondary">Ver Mapa Interactivo</a>
            </div>                
            </div>

        <div class="hero-svg">
            <a href="https://storyset.com/user"><img src="/Logo.svg" class="hero-img"></a>
        <!--NO OLVIDAR QUE LA FOTO VA EN PUBLICS XQ ASI LO DETERMINA ANGULAR.JSON-->
        </div>

    </div>
 </section>
