<article class="card" aria-label="Reporte ciudadano" (click)="goToDetail()" role="button" tabindex="0" (keydown.enter)="goToDetail()">
  
  <!-- Imagen / placeholder -->
  <div class="thumb" aria-hidden="true"></div>

  <!-- Encabezado: título + subcategoría, badge (como una pequena etiqueta, nro, icono) a la derecha -->
  <div class="card-header">
    <div class="title-group">
      <h3 class="category">
        {{ formatCategoryName(reporte()?.subtipo?.tipo_reporte?.nombre) }}
      </h3>
      <p class="subcategory">
        {{ formatCategoryName(reporte()?.subtipo?.nombre) }}
      </p>
    </div>

    <span
      [class]="
        'badge ' + (
          reporte()?.estado === 'PENDIENTE'   ? 'badge--pend' :
          reporte()?.estado === 'EN_PROCESO' ? 'badge--proc' :
                                               'badge--done'
        )"
    >
      {{ (reporte()?.estado || '').replace('_', ' ') }}
    </span>
  </div>

  <!-- Descripcion Truncada -->
  <p class="desc">{{ getTruncatedDescription() }}</p>

  <!-- Footer -->
  <div class="card-footer">
    <span>📍 {{ reporte()?.ubicacion }}</span>
    <span>{{ reporte()?.fecha_hora | date:'shortDate' }}</span>
  </div>
</article>


 



<!--

{{ (reporte()?.estado || '').replace('_', ' ') }} :
recuperamos el estado, si no existe deja '', y, sobre ese texto, q puede ser el estado o string vacio (aca no haria efecto) reemplaza el guion bajo que viene del back (ej: EN_PROCESO) por un espacio vacio q separe las palabras: ''

| date → le dice a Angular: “pásalo por el pipe de fecha”.

'shortDate' → le pide formato corto (10/11/25).
'short' -> incluye hora tmb

-->